d3web-Plugins/d3web-Plugin-TestingFramework/src/main/resources/build_result.xsd

<?xml version="1.0"?><!-- Schema for the report files that are generated by the BuildResultPersistenceHandler  -->
<xs:schema xmlns="http://www.denkbares.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.denkbares.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="build">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="test" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="message" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="testObject" type="xs:string" />
									<xs:attribute name="summary" type="xs:string" />
									<xs:attribute name="text" type="xs:string" />
									<xs:attribute name="type" type="resultCategory" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="configuration" type="xs:string" />
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="numberOfSuccessfullyTestedObjects" type="xs:integer" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="date" type="xs:string" use="required" />
			<xs:attribute name="duration" type="xs:integer" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="resultCategory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUCCESS" />
			<xs:enumeration value="FAILURE" />
			<xs:enumeration value="WARNING" />
			<xs:enumeration value="ERROR" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>

