d3web/d3web-Dialog2/src/main/java/de/d3web/dialog2/dialogsettings.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="DialogSettings">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Dialog" type="Dialog" minOccurs="1"
					maxOccurs="1" />
				<xsd:element name="QuestionPage" type="QuestionPage"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="Diagnoses" type="Diagnoses"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="Explanation" type="Explanation"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="MMInfo" type="MMInfo" minOccurs="1"
					maxOccurs="1" />
				<xsd:element name="CompareCase" type="CompareCase"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="XCL" type="XCL" minOccurs="1"
					maxOccurs="1" />
				<xsd:element name="ProcessedQContainers" type="ProcessedQContainers"
					minOccurs="1" maxOccurs="1" />
				<xsd:element name="Frequentness" type="Frequentness"
					minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Dialog">
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element name="leftPanelSizePercent" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:double"
						default="20.0" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rightPanelSizePercent" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:double"
						default="20.0" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="leftPanelFixed" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="allowRightPanel" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showRightPanelToggleButtons"
				minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="saveCaseThreadMaxIdleTime" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:long" default="0" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sessionMaxInactiveInterval" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:long" default="7200" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showManagementButton" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showDialogButton" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="timeZone" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:string"
						default="Europe/Berlin" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showCountryFlags" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showPageHeader" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showPageFooter" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QuestionPage">
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element name="autoMoveToResultpage" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showQuestionPageAnswerButton"
				minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showQuestionPageResultButton"
				minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showQuestionPageUnknownButton"
				minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="questionMinAnsWrap" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:integer"
						default="6" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="questionDateDefaultDatesection"
				minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="Datesection"
						default="full" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="dialogMode" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="DialogMode"
						default="MQ" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="mCConstraintsAutoGrayOut" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showQASetTreeTab" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showDiagnosesTreeTab" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showAbstractQuestions" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Diagnoses">
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element name="showHeuristicDiagnoses" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showHeuristicEstablishedDiagnoses"
				minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showHeuristicSuggestedDiagnoses"
				minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showHeuristicExcludedDiagnoses"
				minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Explanation">
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element name="showDiagExplanation" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showDiagReason" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showDiagConcreteDerivation" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showDiagDerivation" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MMInfo">
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element name="showMMInfo" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="maxCharLengthInMMInfoPopup" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:integer"
						default="50" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompareCase">
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element name="showCompareCase" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="XCL">
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element name="showXCL" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="displayMinPercentage" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:double"
						default="0.15" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="digitcount" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:integer"
						default="2" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessedQContainers">
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element name="showProcessedQContainers" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showAll" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="false" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="maxInput" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:integer"
						default="8" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showUnknown" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="false" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="qTextMode" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="QTextMode" default="text" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showQContainerNames" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showUnknownIcon" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="showQContainerNamesIcon" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Frequentness">
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element name="showFrequentness" minOccurs="1"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Datesection">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="full" />
			<xsd:enumeration value="date" />
			<xsd:enumeration value="time" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DialogMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MQ" />
			<xsd:enumeration value="OQ" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QTextMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="text" />
			<xsd:enumeration value="prompt" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>